/* @import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Quicksand:wght@300;500&family=Urbanist:wght@100;500&display=swap"); */
/* @import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600&family=Indie+Flower&family=Kalam:wght@300&family=Quicksand:wght@300;500&family=Spartan:wght@100&family=Urbanist:wght@100;500&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600&family=Indie+Flower&family=Kalam:wght@300&family=Monoton&family=Poiret+One&family=Quicksand:wght@300;500&family=Spartan:wght@100&family=Urbanist:wght@100;500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: #000;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: relative;
}

#hint {
  position: absolute;
  top: 20%;
  font-size: 2.3rem;
  color: rebeccapurple;
  z-index: 999;
}

.bubble {
  background-color: rgba(255, 255, 255, 0.009);
  filter: blur(0.1px);
  -webkit-filter: blur(0.1px);

  background-image: url("../res/images/sprites/bubble2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 3;
}
body #box {
  position: absolute;
  overflow: hidden;
  border: 1px solid #d3d3d3;
  background-color: transparent;
  border: none;
  z-index: 0;
}
body.nurturing {
  background-image: linear-gradient(
    10deg,
    rgb(247, 247, 247) 23%,
    rgb(252, 221, 221) 90%
  );
}

body.paper #music-container,
body.paper #music-container.normal-mode {
  border-radius: 15px;
  display: flex;
  padding: 20px 30px;
  position: relative;
  transition: 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  z-index: 10;
}
body #music-container.normal-mode.stick-to-bottom {
  position: absolute;
  bottom: 12vh;
  transition: 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
#music-container.normal-mode.stick-to-center {
  position: relative;
  margin: 0 auto;
}

.img-container {
  position: relative;
  width: 110px;
  user-select: none;
}

.img-container::after {
  content: "";
  background-color: #fff;
  height: 2rem;
  width: 2rem;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  transform: translate(120%, -100%);
}

.img-container img {
  width: inherit;
  height: 110px;
  border-radius: 50%;
  background-color: #000;
  border: 2px solid gainsboro;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 0;
}
/* regarding spin animation speed*/
.img-container.speed-0 img {
  animation: rotate 5s linear infinite;
  animation-play-state: paused;
}

.img-container.speed-1 img {
  animation: rotate 4s linear infinite;
  animation-play-state: paused;
}

.img-container img,
.img-container.speed-2 img {
  animation: rotate 3s linear infinite;
  animation-play-state: paused;
}
.img-container.speed-3 img {
  animation: rotate 2s linear infinite;
  animation-play-state: paused;
}
.img-container.speed-4 img {
  animation: rotate 1.2s linear infinite;
  animation-play-state: paused;
}
.img-container.speed-5 img {
  animation: rotate 0.6s linear infinite;
  animation-play-state: paused;
}

#music-container.playing .img-container img {
  animation-play-state: running;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#playlist-select {
  position: absolute;
  top: 0;
  font-size: 1rem;
  z-index: 990;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.action-btn {
  background-color: transparent;
  border: none;
  color: #dfdbdf;
  cursor: pointer;
  padding: 1.2rem 1rem;
  margin: 0 1rem;
  color: teal;
}
.action-btn.action-btn-big {
  width: 12%;
}
.action-btn:focus {
  outline: 0;
}
#play {
  background-image: url("../res/images/icons/pause-play.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#prev {
  background-image: url("../res/images/icons/previous.png");
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}
#next {
  background-image: url("../res/images/icons/next.png");
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}
#playback-speed {
  background-color: transparent;
  background-image: url("../res/images/icons/vinyl-record.png");
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}
.navigation button#eqToggleBtn {
  background-color: transparent;
  background-image: url("../res/images/icons/equalizer.png");
  background-image: url("../res/images/icons/equalizer-outline.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.music-info-top {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px 15px 0 0;
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  padding: 10px 10px 10px 150px;
  opacity: 0;
  transform: translateY(0%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  z-index: 0;
}
#music-container.playing .music-info-top {
  opacity: 1;
  transform: translateY(-100%);
  z-index: 0;
}
.music-info-top h4 {
  margin: 0;
}

.progress-container {
  position: absolute;
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0;
  height: 0.5rem;
  width: 90%;
  left: 0;
  bottom: 0;
  margin-left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease-in;
}
.progress {
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

#music-container.playing .progress-container {
  bottom: -19px;
  opacity: 1;
}

#canvas {
  background-color: transparent;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
#canvas.circular {
  filter: blur(10px) contrast(20);
  -webkit-filter: blur(10px) contrast(20);
}

#changeSchemeButtons,
#changeSchemeButtons Button {
  cursor: pointer;
  color: #fff;
  border: none;
  border-radius: 50%;
  font-size: 1.5rem;
  position: absolute;
  top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 40px;
  height: 40px;
  text-align: center;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: gray;
  transition: all 400ms;
}
#changeSchemeButtons {
  background-image: url("../res/images/icons/arrow2.png");
}
#changeSchemeButtons button#chooseScheme {
  position: absolute;
  left: 0;
  top: 0;
  background-color: transparent;
  z-index: 4;
}
#changeSchemeButtons button#normalScheme {
  background-image: url("../res/images/icons/straight.png");
  position: absolute;
  left: 0;
  top: 0;
  background-size: 60%;
  background-color: #fff;
  z-index: 3;
}
#changeSchemeButtons button#shuffleScheme {
  background-image: url("../res/images/icons/shuffle-outlilne.png");
  background-size: 55%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
  z-index: 2;
}
#changeSchemeButtons button#repeatScheme {
  background-image: url("../res/images/icons/arrow-loop.png");
  position: absolute;
  left: 0;
  top: 0;
  background-size: 70%;
  background-color: #fff;
  z-index: 2;
}

#random-file {
  position: absolute;
  bottom: -10vh;
  color: teal;
}
.grid {
  position: absolute;
  font-weight: 800;
  display: grid;
  display: none;
  grid-template-columns: auto min-content;
  justify-content: center;
  justify-items: start;
  text-align: end;
  align-items: center;
  gap: 5px 10px;
  z-index: 20;
  transition: 300ms;
}
.grid input {
  color: black;
  cursor: pointer;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif,
    Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.carousel .images img {
  border: 20px solid white;
}

p#duration-display {
  position: absolute;
  color: black;
  z-index: 90;
  right: 1rem;
  bottom: 5rem;
  font-size: 2rem;
  text-align: center;
  transition: 600ms;
}
button#sleep-button {
  position: absolute;
  width: 3.2rem;
  height: 3.2rem;
  padding: 0.7rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  right: 1.4rem;
  bottom: 5.2rem;
  transform: rotate(3deg);
  overflow: hidden;
  z-index: 1;
  background-color: black;
}
button#sleep-button img {
  width: 100%;
}
button#sleep-button #time-left {
  position: absolute;
  bottom: 0;
  left: 0;
  float: left;
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  z-index: -3;
}

@media screen and (max-width: 900px) {
  body.paper #canvas:not(.circular) {
    height: 100vh;

    transform: translateY(44vh);
  }
}
@media screen and (max-width: 600px) {
  body.paper #music-container.normal-mode {
    width: 90vw;
  }
  body.paper #canvas:not(.circular) {
    height: 800vh;
    transform: translateY(44vh);
  }
}
@media screen and (max-width: 448px) {
  body.paper #music-container.normal-mode {
    width: 90vw;
    position: absolute;
    bottom: 30vh;
  }
  body.paper #canvas:not(.circular) {
    height: 900vh;
    transform: translateY(40vh);
  }
  body.paper #music-container.normal-mode.stick-to-bottom {
    bottom: 10vh;
    transition: 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  body.paper #music-container.normal-mode .img-container {
    position: absolute;
    width: 110px;
    user-select: none;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 28vh;
  }
  #music-container.normal-mode .img-container::after {
    content: "";
    display: none;
  }
  #music-container.normal-mode .music-info-top {
    background-color: transparent;
    text-align: center;
    height: 10vh;
  }
  #music-container.normal-mode .music-info-top h4 {
    position: absolute;
    padding: 10px 0;
    top: 0;
    left: 0;
    right: 0;
    font-size: 1.2rem;
    width: 90%;
    margin: 0 auto;
  }
  #music-container.normal-mode .navigation {
    width: 100%;
    justify-content: space-between;
  }
  .action-btn {
    background-color: transparent;
    border: none;
    color: #dfdbdf;
    cursor: pointer;
    padding: 0.9rem 0.6rem;
  }
  button#sleep-button {
    width: 2.2rem;
    height: 2.2rem;
  }
  button#sleep-button img {
    width: 130%;
  }
}

.bubble {
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}
