@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

body {
  font-family: "Righteous", cursive;
  font-size: 1rem;
  margin: 0;
  user-select: none;
}

.container {
  width: 90%;
  padding: 3%;
  margin-left: auto;
  margin-right: auto;
  /* border: 1px solid firebrick; */
}

h1 {
  text-align: center;
}

table {
  background-color: white;
  text-align: left;
  border-collapse: collapse;
}

th {
  /* padding: 1rem; */
  letter-spacing: 0.1rem;
}

th,
td {
  padding: 0.7rem;
}

th#sn {
  width: 2%;
}
th#title {
  width: 20%;
}

th#col-desc {
  width: 30%;
}

th#to-code,
th#to-demo {
  width: 10%;
  /* text-align: center; */
}

th#topic {
  width: 13%;
  text-align: center;
}

td:last-child {
  padding-left: 40%;
  padding-right: 40%;
  text-decoration: none;
}

tr:nth-child(even) {
  background-color: whitesmoke;
}

#myinfo {
  /* margin-top: 3rem;
  padding: 1rem; */
  text-align: center;
  line-height: 0.5rem;
}

.tooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

i {
  font-size: 1.8rem;
}
