.container {
  width: 90%;
  margin: 0 auto;
}
img#logo {
  max-width: 220px;
  margin-top: 6%;
}

li a {
  color: white;
  text-decoration: none;
}

header {
  overflow: hidden;
  padding: 10px 0;
}

.topnav {
  float: right;
  padding: 10px 0;
}

.topnav a {
  float: right;
  padding: 0 17px;
  font-size: 18px;
}

.topnav a:hover {
  transform: scale(1.1);
}

.topnav .signin {
  margin-left: 80px;
  padding: 7px 22px;
  border-radius: 5px;
  font-size: 14px;
}
.topnav .signup {
  padding: 7px 22px;
  border-radius: 5px;
  font-size: 14px;
}

.topnav a:not(:first-child) {
  display: none;
  text-decoration: none;
}

.sidenav {
  position: fixed;
  line-height: 10px;
  background-color: darkblue;
  z-index: 999;
}
.sidenav a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 18px 56px;
  text-decoration: none;
  font-size: 17px;
}
.sidenav.hidden {
  right: -900px;
}
.sidenav.displayed {
  right: 0;
}

.topnav a.active,
.sidenav a:hover {
  background-color: #fff;
  color: darkblue;
}
.topnav .hamburger {
  font-size: 30px;
}
section {
  height: 100%;
}
section#home .container {
  background-image: url("../res/vectors/home/Union.svg");
  background-repeat: no-repeat;
}
section#home .container .btn-container {
  margin: 0 auto;
  width: 50%;
}
section#home .container .btn-container button.btn-tour,
section#home .container .btn-container button.btn-start {
  font-size: 14px;
  display: table-cell;
  vertical-align: middle;
  margin: 5px 0;
  border-radius: 10px;
  border: none;
  float: left;
  padding: 3% 20%;
  height: 40px;
  overflow: hidden;
}

.cards {
  float: left;
  margin-left: 50%;
  transform: translateX(-50%);
}

.card {
  position: relative;
  width: 250px;
  padding: 0 20px;
  height: 190px;
}
.card img {
  position: absolute;
  width: 60%;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
}

.card-desc {
  position: absolute;
  bottom: 0;
  height: max-content;
  margin: 0 auto;
  bottom: 0;
  left: 0;
  right: 0;
}
#steps-list {
  width: 100%;
}
#steps-list #step {
  text-align: center;
}
#steps-list #step #step-info {
  width: 100%;
}
#steps-list #step #step-info p {
  width: 90%;
  float: left;
  color: #000;
}

section#download .btn-container {
  margin: 0 auto;
}

#download .btn-container a {
  border-radius: 5px;
  height: 100%;
  /* padding: 10px 0; */
}

section#partners .logos .tm {
  max-height: 30px;
  float: left;
  margin: 0 3%;
}

.features-cards {
  width: 100%;
  overflow: hidden;
}

.features-cards .feature {
  background-color: #f9fbfd;
  border-radius: 20px;
}
.features-cards .feature img {
  max-width: 160px;
  box-shadow: 0 0 25px #eef4fa;
  /* border: 2px solid deeppink; */
}

footer .footer-links div:nth-child(4) p.small-text {
  overflow: hidden;
}
footer .footer-links div:nth-child(4) a {
  padding-left: 20%;
  padding-right: 20%;
}

footer .footer-outro-bar .footer-logo {
  width: 100%;
  margin-top: 3%;
}
footer .footer-outro-bar .footer-logo img:first-child {
  margin-bottom: 1%;
}
footer .footer-outro-bar .socials {
  margin-top: 3%;
}

footer .footer-outro-bar ul {
  width: 100%;
}

.display-ipad {
  display: none;
}

.display-tablet {
  display: none;
}
.stretch-tablet {
  clear: both;
  display: block;
}

.display-laptop {
  display: none;
}
.stretch-laptop {
  clear: both;
  display: block;
}

@media screen and (min-width: 448px) {
  img#logo {
    margin-top: 3%;
  }

  .cards {
    float: left;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  .card {
    position: relative;
    width: 250px;
    height: 200px;
  }

  section#steps {
    background-image: url("../res/vectors/3steps/bg-girl.svg");
    background-size: 40%;
    background-position: 12% 50%;
    background-repeat: no-repeat;
    background-color: transparent;
  }
  #steps-list {
    width: 50%;
  }
  #steps-list #step {
    float: left;
    width: 100%;
  }

  #step img.large-icon {
    float: left;
  }
  #step #step-info {
    float: left;
    width: 40%;
    text-align: left;
  }
  #step #step-info p {
    padding: 0;
  }

  #steps #step-info h1 {
    float: left;
  }
  .features-cards {
    width: 100%;
    background-image: url("../res/vectors/features/wave.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .features-cards .feature {
    width: 40%;
    text-align: center;
    float: left;
    padding: 5px;
    margin: 3%;
  }

  .features-cards .feature img {
    width: 40%;
  }

  .features-cards .feature .feature-desc {
    clear: both;
    width: 100%;
    margin: 0;
  }
  #download .container {
    padding: 60px 10px;
    background-image: url("../res/vectors/download/download-sticker.svg");
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: 90% 90%;
  }

  #download .container .tiny-text {
    width: 40%;
    margin-top: 10%;
  }

  #download .btn-container {
    width: 40%;
    float: left;
    overflow: hidden;
  }
  #download .btn-container a {
    width: 60%;
    padding: 12px 18px;
    text-align: center;
    line-height: 12px;
  }

  #support .container {
    padding: 60px 0;
    background-image: url("../res/vectors/support/paper-plane.svg");
    background-size: 38%;
    background-repeat: no-repeat;
    background-position: 100% 100%;
  }
  #support .container .textbox .normal-text {
    padding: 0 60px;
  }

  #partners .logos .tm {
    float: left;
    height: 40px;
    width: auto;
    margin: 0 3%;
  }
  footer .footer-links #subscribe {
    padding: 5px;
  }

  footer .footer-outro-bar .footer-logo {
    width: 100%;
  }

  .footer-outro-bar .tiny-text {
    line-height: 12px;
    padding: 2px 0;
  }
}

@media screen and (min-width: 768px) {
  img#logo {
    margin-top: 2%;
  }

  section#home {
    background-image: url("../res/vectors/home/presentation.png");
    background-size: contain;
    background-position: 60%;
    background-repeat: no-repeat;
    background-color: transparent;
    margin-top: 0;
    padding-top: 0;
  }

  section#home .container {
    text-align: left;
  }
  section#home .container #introhead {
    overflow: hidden;
    line-height: 40px;
  }
  section#home .container #introhead,
  section#home .container #introsubhead {
    width: 60%;
  }
  section#home .container .btn-container {
    margin-left: 0;
    width: 40%;
  }
  section#home .container .btn-container button.btn-tour,
  section#home .container .btn-container button.btn-start {
    font-size: 14px;
    width: 160px;
    width: 80%;
    margin: 2px 0;
    height: 15%;
    overflow: hidden;
    /* display: table-cell;
    vertical-align: bottom; */
    border-radius: 10px;
    /* float: left; */
    /* display: block; */
    text-align: center;
    position: relative;
  }
  section#home .container .btn-container button.btn-tour span,
  section#home .container .btn-container button.btn-start span {
    margin-left: 0;
    padding: 4px 0px;
    /* padding: 0/; */
    float: left;
  }
  section#home .container .btn-container button.btn-tour i {
    float: left;
    font-size: 30px;
    margin: 0;
    padding: 0;
    padding: 0 6px;
  }
  section#home .container .btn-container button.btn-start i {
    font-size: 15px;
    padding: 5px 6px;
  }
  section#reasons .cards {
    float: left;
    width: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  section#reasons .card {
    position: relative;
    width: 250px;
    height: 250px;
  }
  section#reasons .card img {
    margin-top: 10%;
  }

  #steps-list h1:first-child {
    clear: both;
    text-align: left;
  }
  #steps-list p {
    text-align: left;
    float: left;
  }
  #steps-list #step {
    width: 100%;
  }

  #steps-list #step img.large-icon {
    float: left;
    padding: 20px;
  }

  #steps-list #step #step-info {
    width: 70%;
    float: left;
  }

  .features-cards {
    width: 100%;
  }
  .features-cards .feature {
    width: 90%;
    padding: 20px;
    margin-bottom: 0;
  }

  .features-cards .feature img {
    height: 100px;
    width: auto;
    float: left;
  }

  .features-cards .feature .feature-desc {
    clear: none;
    width: 62%;
    margin-left: 4%;
    text-align: left;
  }
  .features-cards .feature .feature-desc h2 {
    float: left;
  }
  .features-cards .feature .feature-desc p {
    float: left;
  }

  #download .container {
    padding: 100px 10px;
    background-size: 35%;
    background-position: 90% 90%;
  }
  #download .container .textbox {
    padding-left: 5%;
    text-align: left;
    width: 90%;
  }

  #download .btn-container {
    width: 33%;
  }

  #download .btn-container a {
    float: left;
    width: 70%;
  }

  #support .container {
    padding: 60px 0;
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: 100% 99%;
  }
  #support .container .image-container {
    z-index: -1;
    left: 0;
  }
  #support .container .textbox {
    width: 50%;
    margin-left: 50%;
    text-align: left;
  }
  #support .container .textbox .normal-text {
    width: 70%;
    padding: 0;
  }

  footer .footer-links {
    padding: 2% 5% 0 5%;
  }
  section#partners {
    padding: 60px 0;
  }

  section#partners .logos .tm {
    height: 30px;
    margin: 20px;
  }

  footer .footer-links div:nth-child(1) {
    width: 31%;
    padding: 0 5px;
    margin: 0;
  }
  footer .footer-links div:nth-child(2) {
    width: 22%;
    padding: 0 5px;
    margin: 0;
    margin-left: 10%;
  }
  footer .footer-links div:nth-child(3) {
    width: 22%;
    padding: 0 5px;
    /* margin: 0; */
    margin-left: 10%;
  }
  footer .footer-links div:nth-child(4) {
    width: 100%;
    padding-top: 0;
    text-align: center;
  }

  footer .footer-outro-bar .footer-logo {
    width: 100%;
  }

  .display-tablet {
    display: inline;
  }
  .stretch-tablet {
    clear: none;
  }

  .display-laptop {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  img#logo {
    margin-top: 10px;
  }
  .topnav a:first-child {
    display: none;
  }
  .topnav a:not(:first-child) {
    display: inline;
  }
  section#home {
    background-size: 100%;
    background-position: top;
  }
  section#home .container {
    padding: 5% 0;
  }

  section#home .container #introhead,
  section#home .container #introsubhead {
    width: 44%;
  }
  section#home .container .btn-container {
    margin-left: 0;
    width: fit-content;
    width: 380px;
    height: 56px;
    overflow: hidden;
  }
  section#home .container .btn-container button.btn-tour {
    width: 150px;
    height: 99%;
    padding: 0px;
    float: left;
  }
  section#home .container .btn-container button.btn-start {
    width: 180px;
    height: 99%;
    float: left;
    padding: 0 0 0 30px;
    margin: 0;
    text-align: center;
  }
  section#home .container .btn-container button.btn-tour span {
    font-size: 18px;
  }
  section#home .container .btn-container button.btn-start span {
    font-size: 18px;
    float: left;
    margin-right: 5px;
  }
  section#home .container .btn-container button.btn-tour i {
    float: left;
    width: 40px;
  }
  section#home .container .btn-container button.btn-start i {
    float: left;
    font-size: 18px;
  }
  section#reasons h1.head {
    font-size: 30px;
  }
  section#reasons .container {
    padding: 0 !important;
  }
  section#reasons .container p.subhead {
    font-size: 16px;
    margin-bottom: 6%;
    clear: both;
  }

  section#reasons .container .cards {
    width: 100%;
    display: block;
    position: relative;
    height: 337px;
  }
  img#wave1 {
    user-select: none;
    width: 70%;
    left: 15%;
    top: 50%;
    transform: rotate(10deg);
  }
  section#reasons .container .cards .card {
    float: left;
  }
  section#reasons .container .cards .card:nth-child(1) {
    position: absolute;
    left: 4%;
    margin-left: 200px !important;
  }
  section#reasons .container .cards .card:nth-child(2) {
    position: absolute;
    left: 42%;
  }
  section#reasons .container .cards .card:nth-child(3) {
    position: absolute;
    right: 0;
  }
  section#reasons .container .cards .card img {
    width: 100%;
    margin-top: 16%;
  }
  section#reasons .container .cards .card .card-desc {
    width: 90%;
  }

  section#features {
    padding: 20px 0;
  }
  .features-cards {
    float: none;
    width: 100%;
  }
  .features-cards .feature {
    background-color: #f9fbfd;
    border-radius: 20px;
    width: 39%;
    margin-right: 2%;
    clear: none;
    padding: 25px;
  }
  .features-cards .feature img {
    width: 100%;
    height: auto;
  }
  .features-cards .feature .feature-desc {
    clear: none;
    text-align: left;
    margin-left: 8%;
    width: 58%;
  }

  .features-cards .feature .feature-desc h2,
  .features-cards .feature .feature-desc p {
    clear: both;
    float: left;
  }

  section#steps {
    background-size: 30%;
  }
  #steps-list {
    width: 40%;
  }
  #steps-list #step {
    text-align: left;
    float: left;
    clear: both;
    position: relative;
    width: 100%;
  }
  #step img.large-icon {
    float: left;
    width: 10%;
    display: inline;
  }

  #steps-list #step #step-info {
    overflow: hidden;
  }
  #steps-list #step #step-info h3,
  #steps-list #step #step-info p {
    float: left;
  }
  #steps-list #step #step-info p {
    clear: both;
  }

  #download .container {
    padding: 160px 10px;
    background-size: 30%;
    background-position: 80% 90%;
  }
  #download .container .textbox {
    padding-left: 5%;
    text-align: left;
    width: 70%;
  }
  #download .container .textbox h1 {
    margin-bottom: 0 !important;
  }
  #download .container .textbox p {
    margin-top: 2%;
    margin-bottom: 5%;
    width: 50%;
  }

  #download .btn-container {
    width: 50%;
    margin-top: 10%;
  }

  #download .btn-container a {
    width: 30%;
    float: left;
    margin-right: 3%;
  }

  .cards {
    width: 100%;
    float: none;
    display: inline-block;
    padding: 0 10%;
    background-image: url("./res/vectors/reasons/vector6.svg");
  }
  .card {
    position: relative;
    width: 316px;
    height: 340px;
    margin-left: 94px;
  }
  .card img {
    position: absolute;
    width: 60%;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .card-desc {
    position: absolute;
    bottom: 0;
    height: max-content;
  }
  #support .container {
    padding: 90px 0;
    background-size: 20%;
    background-position: 82% 94%;
  }
  #support .container .image-container {
    z-index: -1;
    width: 40%;
    left: 5%;
  }

  section#partners {
    padding: 60px 0;
  }

  section#partners .logos .tm {
    height: 100%;
    margin: 45px;
  }

  footer .footer-links {
    width: 100%;
    float: left;
    clear: both;
  }
  footer .footer-links div:nth-child(1) {
    width: 20%;
    margin: 0;
  }
  footer .footer-links div:nth-child(2) {
    width: 20%;
    margin: 0;
  }
  footer .footer-links div:nth-child(3) {
    width: 20%;
    margin: 0;
  }
  footer .footer-links div:nth-child(4) {
    float: left;
    width: 25% !important;
    height: inherit;
    float: left;
    padding-top: 0;
    padding-bottom: 0 10px 20px 0 !important;
    text-align: left;
  }
  footer .footer-links div:nth-child(4) .small-text {
    overflow: hidden;
  }

  footer .footer-outro-bar {
    margin-top: 0;
  }

  footer .footer-outro-bar .footer-logo {
    width: 60%;
  }
  footer .footer-outro-bar .footer-logo img:first-child {
    width: 25%;
  }
  footer .footer-outro-bar .socials {
    width: 38%;
  }

  footer .footer-outro-bar .socials li {
    margin-left: 5%;
    padding: 5px 0;
  }

  .display-tablet {
    display: inline;
  }
  .stretch-tablet {
    clear: none;
  }

  .display-laptop {
    display: inline;
  }
  .stretch-laptop {
    clear: none;
  }
}
