#game .status {
  font-size: 2rem;
  width: 20%;
  margin: 0 auto;
  padding-top: 10vh;
  text-align: center;
  letter-spacing: -3px;
  color: white;
  /* text-shadow: 0 0 7px white; */
}

@keyframes colorChange {
  0% { color: red; }
  25% { color: greenyellow; }
  50% { color: yellow; }
  75% { color: cyan; }
  100% { color: crimson; }
}

.animated-text {
  animation: colorChange 1s infinite; /* Adjust the duration as needed */
}

#game .summary {
  margin: 0 auto;
  margin-top: 10vh;
  width: 45vw;
  height: 30vh;
  max-width: 320px;
  background-color: #dbd894;
  border-radius: 20px;
  position: relative;
  font-size: 1rem;
  font-weight: 100;
  color: coral;
  letter-spacing: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  /* border: 1px solid violet; */
}

.summary .medal {
  width: 65%;
  height: 100%;
  padding-top: 8%;
  display: inline-block;
  text-align: center;
  /* border: 1px solid red; */
  /* padding: 0% 0 0% 12%; */
}
.summary .medal p{
  margin: 0;
}
.medal .badge {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 10%;
  background-color: #d3cd8c;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.summary .scores {
  /* border: 1px solid yellow; */
  width: 35%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: space-around;
  flex-direction: column;
  /* text-align: center; */
  padding-top: 7%;
  /* padding-right: 7%; */
}
.summary .scores span {
  /* height: 10px; */
  /* display: block; */
  /* border: 3px dotted darkorange; */
}
.scores .currentscore {
  /* display: block; */
  position: relative;
  /* background-color: saddlebrown; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  /* border: 1px solid palegreen; */
  height: 50%;
}
.currentscore .currentscorenumber {
  color: white;
  text-shadow: 0 0 3px black;
  font-size: 4vh;
  margin-top: 10px;
}
.scores .currentscore span{
  /* display: block; */
}

.scores .bestscore {
  height: 50%;
  /* background-color: aqua; */
}

.scores .bestscore .bestscorenumber {
  color: white;
  font-size: 4vh;
  margin-top: 10px;
  text-shadow: 0 0 3px black;
}

#game .menu {
  height: 13%;
  width: 380px;
  margin: 0 auto;
  margin-top: 6%;
  position: relative;
}

#game .menu .playbtn,
#game .menu .exitbtn,
#game .menu .highscoresbtn {
  width: 90px;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  border: 3px solid black;
}
#game .menu .playbtn {
  background-image: url("./res/icons/play.png");
  left: 0px;
  background-size: 50%;
}

#game .menu .exitbtn {
  background-image: url("./res/icons/exit.png");
  margin-left: 50%;
  transform: translateX(-50%);
  background-size: 45%;
}

#game .menu .highscoresbtn {
  right: 0;
  background-image: url("./res/icons/highscores.png");
  background-size: 80%;
}
