.serchbar-container {
  float: left;
  position: relative;
  margin-top: 40px;
}
.serchbar-container #searchbar {
  float: left;
}

.serchbar-container #searchbar input {
  width: 268px;
  height: 20px;
  padding-left: 8px;
  border: none;
  background-color: transparent;
  float: left;
}

.navbar-user-section {
  position: absolute;
  right: 0;
  margin-right: 200px;
  font-weight: 900;
  line-height: 20px;
  margin-top: 20px;
}

.navbar-user-section #username {
  display: block;
  text-align: right;
  font-size: 14px;
}

.navbar-user-section #user-links a {
  text-decoration: none;
  margin: 0 4px;
}

#menubar-container #menubar {
  float: left;
}
#menubar-container #menubar a {
  text-decoration: none;
  margin: 0 15px;
  font-weight: 800;
  letter-spacing: 0px;
}

#menubar-container #notification-bar {
  float: right;
  font-weight: 400;
}

#notification-bar #invites-bar {
  float: right;
  margin-right: 30px;
}
#notification-bar span {
  margin-right: 4px;
}

.notification-icon-container i {
  color: #2fc1da;
}

#requests-bar .notification-icon-container i {
  color: gray;
}

#notification-bar #requests-bar {
  float: right;
}

div[class^="body-container-"] h3 {
  background-color: #2fc1da;
  padding: 15px 0 16px 12px;
  font-size: 12px;
  color: white;
  font-weight: 800;
}
ul.quick-links-ul {
  list-style-type: none;
}

ul.quick-links-ul li {
  padding: 12px;
}
ul.quick-links-ul li:hover {
  background-color: white;
}

.body-container-left .recent-searches-by-downloads-container ul.quick-links-ul {
  position: relative;
  display: table;
}

.recent-searches-by-downloads-container ul.quick-links-ul li.recent-search {
  width: 88%;
  float: left;
}

.recent-searches-by-category-container ul.quick-links-ul li.recent-search {
  display: table-column;
  float: left;
  width: 90%;
}

ul.quick-links-ul li.recent-search span.search-title {
  float: left;
  width: 75%;
  font-weight: 900;
}
.recent-searches-by-downloads-container ul.quick-links-ul li.recent-search a {
  text-decoration: none;
  float: right;
}

.recent-searches-by-category-container ul.quick-links-ul a img {
  float: inherit;
  height: 100%;
  background-color: transparent;
}

ul.quick-links-ul li.recent-search img {
  height: 10px;
  float: right;
}

.body-container-center h1 {
  font-size: 22px;
  color: #4d4d4d;
  margin: 0 0 12px 2px;
}

.body-container-center .category-tabs-container .category-tabs-container-left p,
.body-container-center
  .category-tabs-container
  .category-tabs-container-right
  p {
  padding: 14px 0;
  font-weight: 600;
}

.body-container-center
  .category-tabs-container
  .category-tabs-container-left
  .category-tab-button-wrapper,
.body-container-center
  .category-tabs-container
  .category-tabs-container-right
  .category-tab-button-wrapper {
  position: absolute;
  height: 28px;
  width: 258px;
  padding: 0 5px;
  bottom: 0;
}

.body-container-center
  .category-tabs-container
  .category-tabs-container-left
  .category-tab-button-wrapper
  button,
.body-container-center
  .category-tabs-container
  .category-tabs-container-right
  .category-tab-button-wrapper
  button {
  float: left;
  width: 114px;
  height: 28px;
  margin: 0 5px;
  background-color: transparent;
  background-image: url("./res/icons/tab-gray.png");
  color: #4d4d4d;
  border: none;
  font-weight: 700;
}

.category-tabs-container .ribbon {
  background-color: #2fc1da;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  display: block;
}

.body-container-center .post-container {
  color: #707070;
  width: 100%;
  float: left;
  color: #707070;
  margin: 15px 0;
}

hr {
  background-color: gray;
}

.body-container-center .post-container .dynamic-feature {
  text-transform: uppercase;
  font-weight: 900;
  color: #11bddb;
}

.body-container-center .post-container img {
  float: left;
}

.body-container-center .post-container .post-info-section {
  float: left;
  margin-left: 10px;
  line-height: 15px;
}
.body-container-center .post-container .post-info-section h4.post-title {
  font-size: 14px;
  font-weight: 800;
}

.post-container .post-info-section .post-sub-info-section {
  margin-top: 1%;
}
.post-sub-info-section .by a,
.post-sub-info-section .on,
.post-sub-info-section .subbed,
.post-sub-info-section .topic-category-info {
  font-size: 13px;
  font-weight: 900;
  color: #707070;
}

.body-container-center .post-container .post-info-section .by a {
  text-decoration: none;
  color: #2fc1da;
}

.body-container-center .post-container .post-info-section .subbed {
  color: #82a340;
}
.post-sub-info-section .topic-category-info a {
  color: #2fc1da;
  text-decoration: none;
}

.body-container-right .quick-links-ul li.quick-links a {
  width: 100%;
  color: black;
  font-weight: 800;
  position: relative;
  display: block;
  text-decoration: none;
  font-weight: 800;
  text-align: left;
}

.footer ul {
  display: inline;
  float: left;
  width: 70%;
  list-style-type: circle;
}

.footer ul li.footer-link {
  display: inline;
  margin: 0 10px;
  list-style-type: circle;
}

.footer ul li.footer-link a {
  text-decoration: none;
  color: white;
}

.footer .footer-copyright-section {
  position: absolute;
  right: 36px;
  color: white;
}
